
@font-face {
  font-family: 'SegoeUI-Semibold';
  src: url('SegoeUI-Semibold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUISemibold';
  src: url('SegoeUI-Semibold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}