
@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('SegoeUI-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIBold';
  src: url('SegoeUI-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}