/* v1.6.3 */

@font-face {
      font-family: Inter;
      src: url('../../../fonts/Inter.var.woff2') format('woff2-variations');
      font-weight: 300 900;
      font-stretch: 35% 100%;
      font-style: normal;
    }
@font-face {
      font-family: Inter;
      src: url('../../../fonts/Inter.var.woff2') format('woff2-variations');
      font-weight: normal;
      font-stretch: normal;
      font-style: italic;
}
html {
    background-color: #000;
    overflow-y: scroll;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-touch-action: pan-y;
}

body {
    font-family: Inter, sans-serif;
    font-size: .8em;
    line-height: 1.8em;
    text-align: left;
    background-color: #000;
    -ms-touch-action: pan-y;
}


h2 {
    font-family: Inter;
    font-size: 2.3em;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 0px;
    color: #fff;
}

h3 {
    font-family: Inter;
    font-size: 1.6em;
    line-height: 1em;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 50px;
    color: #fff;
}

.sectionBreak {
    width: 750px;
    height: 42px;
    background-image: url(../img/break.png?v=1.6.3);
    background-repeat: no-repeat;
    opacity: .3;
}

.sectionHeader {
    margin-top: 60px;
    width: 100%;
}

.sectionHeaderInner {
    position: relative;
    margin: 0px auto;
    height: 50px;
    width: 500px;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 50vw;
}

#logoHeader {
    position: relative;
    width: 430px;
    height: 140px;
    margin: 20px auto 10px auto;
    background-repeat: no-repeat;
    background-image: url(../img/DevTearHeader.png?v=1.6.3);
}

#contentHeader {
    position: relative;
    background-image: url(../img/contentHeader.png?v=1.6.3);
    background-repeat: no-repeat;
    width: 879px;
    height: 86px;
    margin: 0px auto 0px auto;
}

#contentContainer {
    width: 879px;
    background-image: url(../img/midContent.png?v=1.6.3);
    background-position: 0px 0px;
    position: relative;
    height: 100%;
    margin: 0px auto 0px auto;
    color: #fff;
}

    #contentContainer:after {
        content: '.';
        display:block;
        height:50;
        clear:both;
        visibility:hidden;
    }

    #contentContainer p {
        margin-left: 50px;
        margin-bottom: 15px;
        width: 660px;
    }
    #intro1 {
    width:520px !important;
}

a {
    color: #74e4ff;
    font-weight: 700;
    border: none;
}

    a:hover {
        text-decoration: underline;
    }

#contentContainer p.tip {
    background-color: #333;
    border: solid 1px #666;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 4px;
    width: 600px;
}

.inner {
    width: 760px;
    padding-top: 20px;
    margin: 0px auto 50px auto;
}

footer {
    width: 100%;
    height: 75px;
    z-index: 100;
}
#gameLink:hover {
    text-decoration:none;
    color:white;
}

#footerLinks {
    position: relative;
    width: 660px;
    height: 40px;
    margin: 20px auto;
}

#creds {
    color: #999;
    font-size: 10px;
    text-align: center;
}

#ieLogoTiny {
    position: absolute;
    left: 0px;
}

#clarityLogo {
    position: absolute;
    left: 288px;
    top: 4px;
}

#cjLogoTiny {
    position: absolute;
    left: 180px;
    top: -2px;
}

#pixellabLogo {
    position: absolute;
    width: 122px;
    top: 2px;
    right: 0px;
}

#gitHubLinks {
    border-radius: 8px;
    background-color: #000;
    width: 650px;
    height: 150px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.gitLink {
    margin-top: 25px;
    margin-left: 25px;
}

.ribbon {
    position: relative;
    float: right;
    margin-top: -133px;
}

#cjLogo {
    background-image: url(../img/cjLogo.png?v=1.6.3);
    background-repeat: no-repeat;
    width: 192px;
    height: 55px;
    float: left;
    margin-top: 50px;
}

.hidden {
    visibility: hidden;
}

.helpMessageRight {
    -webkit-transform: rotate(15deg) translate(30px, 30px);
    transform: rotate(15deg) translate(30px, 30px);
    -ms-transform: rotate(15deg) translate(30px, 30px);
    -moz-transform: rotate(15deg) translate(30px, 30px);
    font-family: Inter;
    text-align: center;
    font-weight: normal;
    padding: 10px;
    font-size: 1.3em;
    width: 143px;
    height: 70px;
}

#dlLink:hover {
    color: white;
    text-decoration: none;
}

#helpMessage2 {
    -webkit-transform: rotate(15deg) translate(30px, 30px);
    transform: rotate(15deg) translate(30px, 30px);
    -ms-transform: rotate(15deg) translate(30px, 30px);
    -moz-transform: rotate(15deg) translate(30px, 30px);
    font-family: Inter;
    text-align: center;
    font-weight: normal;
    padding: 10px;
    font-size: 1.3em;
    width: 143px;
    height: 70px;
    margin-top: 0px;
}
#indicator {
    margin-top:0px;
}
#helpMessage {
    margin-top:15px;
}
.videoFrame {
    width: 850px;
    height: 490px;
    margin: -70px 0px 0px -45px;
    background-image: url(../img/videoFrame.png?v=1.6.3);
    background-repeat: no-repeat;
}

.venzel {
    width: 80px;
    height: 30px;
    background-image: url(../img/venzel.png?v=1.6.3);
    background-repeat: no-repeat;
    float: left;
}

    .venzel.flipped {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#groundFigure {
    width: 341px;
    height: 346px;
    background-image: url(../img/groundFigure.png?v=1.6.3);
    background-repeat: no-repeat;
    float: right;
    display: inline;
    margin: -25px -25px 0px 0px;
}

#snotFigure {
    width: 341px;
    height: 346px;
    background-image: url(../img/snot.png?v=1.6.3);
    background-repeat: no-repeat;
    float: right;
    display: inline;
    margin: -25px -25px 0px 0px;
}

#snotPhysicsFigure {
    width: 341px;
    height: 346px;
    background-image: url(../img/snotPhysicsFigure.png?v=1.6.3);
    background-repeat: no-repeat;
    float: right;
    display: inline;
    margin: -25px -25px 0px 0px;
}

#canvasFigure {
    width: 341px;
    height: 346px;
    background-image: url(../img/canvasFigure.png?v=1.6.3);
    background-repeat: no-repeat;
    float: right;
    display: inline;
    margin: -25px -25px 0px 0px;
}

.screenShotContainer {
    position: relative;
    margin: 40px auto;
    width: 600px;
    height: 145px;
}

.screenshot {
    margin-right: 10px;
}

a img {
    border: 0;
}


#promoVideo {
    margin: 35px 0px 0px 46px;
}

.overhangRight {
    position: absolute;
    right: -5px;
    margin-top: -20px;
    background-image: url(../img/signRight.png?v=1.6.3);
    width: 235px;
    height: 155px;
    z-index: 3;
}

#techSectionHeader {
    margin-top: 70px;
}

#particleSpot {
    position: absolute;
    margin-left: 46px;
    margin-top: 110px;
    background-image: url(../img/marker.png?v=1.6.3);
    background-position: 2px 3px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#groundSpot {
    position: absolute;
    margin-left: -320px;
    margin-top: 380px;
    background-image: url(../img/marker.png?v=1.6.3);
    width: 21px;
    height: 20px;
    cursor: pointer;
}

#snotSpot {
    position: absolute;
    margin-left: 240px;
    margin-top: 140px;
    background-image: url(../img/marker.png?v=1.6.3);
    width: 21px;
    height: 20px;
    cursor: pointer;
}

#strongSnotSpot {
    position: absolute;
    margin-left: -150px;
    margin-top: 345px;
    background-image: url(../img/marker.png?v=1.6.3);
    width: 21px;
    height: 20px;
    cursor: pointer;
}

#canvasSpot {
    position: absolute;
    margin-left: 230px;
    margin-top: 430px;
    background-image: url(../img/marker.png?v=1.6.3);
    width: 21px;
    height: 20px;
    cursor: pointer;
}

#particleArea {
    position: absolute;
    margin-left: 3px;
    margin-top: 52px;
    display: none;
    background-image: url(../img/particles.png?v=1.6.3);
    width: 214px;
    height: 224px;
    cursor: pointer;
}

#groundArea {
    position: absolute;
    margin-left: -382px;
    margin-top: 295px;
    display: none;
    background-image: url(../img/boxes.png?v=1.6.3);
    width: 210px;
    height: 204px;
}

#snotArea {
    position: absolute;
    margin-left: 154px;
    margin-top: 104px;
    display: none;
    background-image: url(../img/snot1.png?v=1.6.3);
    width: 100px;
    height: 227px;
}

#strongSnotArea {
    position: absolute;
    margin-left: -201px;
    margin-top: 305px;
    display: none;
    background-image: url(../img/snot2-textured.png?v=1.6.3);
    width: 147px;
    height: 173px;
}

#canvasArea {
    position: absolute;
    margin-left: -383px;
    margin-top: 285px;
    display: none;
    background-image: url(../img/canvas.png?v=1.6.3);
    width: 769px;
    height: 271px;
}


#behindTheScenesContainer {
    position: relative;
    margin-left: -45px;
    width: 847px;
    height: 580px;
    background-image: url(../img/sceneShot.png?v=1.6.3);
    background-repeat: no-repeat;
    z-index: 2;
}

#behindTheScenesCenter {
    width: 1px;
    margin-left: auto;
    margin-right: auto;
}

#centerFromOffset {
    width: 1px;
    margin-left: auto;
    margin-right: auto;
}



#explanationText {
    display: none;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 660px;
    min-height: 300px;
}

#explanationImage {
    position: relative;
    width: 21px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../img/marker.png?v=1.6.3);
}

#devTitle {
    background-image: url(../img/UnderHoodText.png?v=1.6.3);
    width: 295px;
    height: 32px;
    margin-left: -387px;
    margin-top: 10px;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
}

#componentName {
    position: relative;
    margin-top: 10px;
}

/* =============================================================================
   Animations 
   ========================================================================== */
.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -ms-animation-name: pulse;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    -ms-animation-delay: 0s;
    -moz-animation-name: pulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0s;
}

@-webkit-keyframes pulse {

    1% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }

    50% {
        -webkit-transform: scale(1.5,1.5);
        -moz-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        -o-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-moz-keyframes pulse {
    1% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }

    50% {
        -webkit-transform: scale(1.5,1.5);
        -moz-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        -o-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-ms-keyframes pulse {
    1% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }

    50% {
        -webkit-transform: scale(1.5,1.5);
        -moz-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        -o-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    100% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes rotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateInUpRight {
    0% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateInUpRight {
    0%;

{
    -o-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
}

100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
}

}

@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateInUpRight {
    animation-name: rotateInUpRight;
    animation-duration: .35s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    -webkit-animation-name: rotateInUpRight;
    -webkit-animation-duration: .35s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -ms-animation-name: rotateInUpRight;
    -ms-animation-duration: .35s;
    -ms-animation-iteration-count: 1;
    -ms-animation-delay: 0s;
    -moz-animation-name: rotateInUpRight;
    -moz-animation-duration: .35s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
}

/* =============================================================================
   Code Styles
   ========================================================================== */
/* Better styles for embedding GitHub Gists */
.gist {
    margin: 15px auto !important;
    width: 660px;
}

.gist-file {
    border: none !important;
}

.gist-meta {
    background-color: #222 !important;
    border: 1px solid #666 !important;
    padding: 12px !important;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.gist a {
    color: #336699 !important;
}

.gist-data {
    background-color: #333 !important;
    color: #fff;
    padding: 15px !important;
    border: 1px solid #666 !important;
    border-bottom: none !important;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
}

.header
{
    position:relative;
    width: 879px;
    margin: 0px auto 0px auto;
}

#teardown .shareButton {
    position: relative;
    bottom: -3px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

#teardown #stumbleuponContainer {
    margin-left: 0px;
}

.shareHeaderText
{
    font-family: Inter, Georgia, serif;
    color:black;
    display: inline-block;
}

.shareHeader
{
    position:absolute;
    right:0px;
    top:75px;
    width:175px;
    height:50px;   
}

#shareHeaderLinks
{
    clear:both;
    margin-left:26px;
}

.shareHeaderContent
{
    float:right;
    margin-right:45px;
    margin-bottom:5px;
}

.shareHeaderIcon
{
    background-image: url(../img/shareArrow.png?v=1.6.3);
    background-repeat: no-repeat;
    height:28px;
    width:51px;
    display: inline-block;
    position:relative;
    margin-left:-8px;
    top:7px;
}

.shareIcon
{
    height:24px;
    width:24px;
}

.shareLink :hover
{
    opacity:0.7;
}

.shareLink
{
    height: 24px;
}

.shareButton
{
    margin-left:20px;
}